/*Header*/
.cabecera__contenedor {
    display: flex;
    /*Organiza mis bloques en linea*/
    justify-content: space-between;
    /*Espacio entre elementos hijos*/
    align-items: center;
    /*Centra mis elementos*/
    top: 0;
}

.cabecera__menu--links:nth-child(1),
.cabecera__menu--links:nth-child(2),
.cabecera__menu--links:nth-child(3) {
    display: none;
}

/*Contenedor acerca de mi*/

.contenedor-about__redes {
    display: flex;
    gap: 8px;
    font-weight: bold;
}