.cabecera__contenedor {
    display: flex;
    /*Organiza mis bloques en linea*/
    align-items: center;
    /*Centra mis elementos*/
    justify-content: space-between;
}

.cabecera__menu {
    display: flex;
}